<form class="c-form" 
    
    {% if cliente %}

        action =" {{ url_for('cliente.atualizar_cliente', cliente_id = cliente.id)}}"
        c-swap="#cliente-{{cliente.id}}"
        method="PUT"
        

    {% else %}

        action="{{url_for('cliente.inserir_cliente')}}"
        method="POST"
        c-append="#lista-clientes"

    {% endif %}  

    c-reload-container="true"
 
    >

    

    <div class="mb-3"> 
      <label class="form-label">Nome</label>
      <input type="name" class="form-control" name="nome" {% if cliente %} value="{{cliente.nome}}"{% endif %}>
    </div>  

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" {% if cliente %} value="{{cliente.email}}" {% endif %}>
    </div>


    <button type="submit" class="btn btn-primary">
      {% if cliente %} 

            Salvar

      {% else %}

           Criar

      {% endif %}
    </button>
  </form>

  <script>
    var nome = getElementbyid("")
  </script>